import time
import random
vida = 20

print("afuera hace un dia hermoso, las flores florecen, las aves cantan y niños como tu")
time.sleep(3)
print("DEBERIAN HARDER EN EL INFIERNO")
time.sleep(1)
acertarataque = random.randint(1,50)
ataque1 = input("recuerdas que vas a pasar un mal rato, ¿que haces, atacar o curar?")

ganaste = "falso"

if ataque1 == "atacar" and acertarataque == 1:
    print("Le has dado a sans")
    ganaste = "verdadero"

if ganaste == "verdadero":
    print("has ganado, repite el codigo para volver a jugar")

elif ataque1 == "atacar" and ataque1 >= 2:
    print("Fallo")
    
elif ataque1 == "curar" and vida < 20:
    vida = vida + 5
    print("te has curado 5 de vida")

elif ataque1 == "curar" and vida == 20:
    print("No te has podido curar porque tienes la vida maxima")
    

while True:
    sansataque = random.randint(1,2)
    
    time.sleep(1)
    if sansataque == 1:
        print("sans ataca, pero por suerte esquivas, no te hizo daño")
    
    elif sansataque == 2:
        print("Sans ataca, no le logras esquivar, te quito 5 de vida")
        vida = vida - 5
    
    time.sleep(2)
    
    ataque1 = input("ahora te toca a ti, ¿que haces, atacar o curar?")

    ganaste = "falso"
